<div [style]="styles" class="flex justify-around gap-4 rounded-2xl bg-blue-600 p-4 ">
    <div class="h-24 w-20 max-w-20 rounded-2xl relative flex flex-1 justify-center items-center">
      <!-- <img src="{{item.image}}" alt="book cover" class="w-full h-full object-cover"> -->

      <p-knob [valueColor]="percentage == 100 ? 'green':'purple'" textColor="white" valueTemplate="{value}%" size="100"
        [(ngModel)]="percentage" [min]="0" [max]="100"></p-knob>
    </div>

  <div class="flex flex-col items-center flex-1">
    <h2 class="font-['Audiowide'] text-center" >{{item.title}}</h2>
    <p class="text-opacity-50 text-white">{{item.author}}</p>
    <p >Progreso: <span>{{item.progress}}</span>/<span class="font-semibold">{{item.totalPage}}</span> paginas</p>
    <div class="mt-2">
      <p-rating readonly="true" stars="10" [(ngModel)]="item.rating" />
    </div>
  </div>
</div>
